<script type="text/x-mathjax-config">
  var mathId = document.getElementById("post-content");
  MathJax.Hub.Config({
      showProcessingMessages: false,
      messageStyle: "none",
      extensions: ["tex2jax.js"],
      TeX: {
          equationNumbers: {
              autoNumber: "AMS"
           }
      },
      jax: ["input/TeX", "output/HTML-CSS"],
      tex2jax: {
          inlineMath: [ ['$','$'], ["\\(","\\)"] ],
          displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
          skipTags: ['script', 'noscript', 'style', 'textarea', 'pre','code','a'],
          ignoreClass:"comment-content"
      },
      "HTML-CSS": {
          availableFonts: ["STIX","TeX"],
          showMathMenu: false
      }
  });
  MathJax.Hub.Queue(["Typeset",MathJax.Hub,mathId]);
  </script>
  <script src="//cdn.bootcss.com/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>