<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ site.title }}</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="../assets/css/homepage.css"> 
        <link rel="shortcut icon" href="../assets/img/favicon.png">
    </head>

    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
        <!-- Navigation -->
        <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/homepage">Helei Qiu</a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                        <ul class="nav navbar-nav">
                            <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                            <li class="hidden"><a href="#page-top"></a></li>
                            <li><a class="page-scroll" href="#news">News</a></li>
                            <li><a class="page-scroll" href="#publications">Publications</a></li>
                            <li><a class="page-scroll" href="/CV.pdf">CV</a></li>
                        </ul>
                    </div>
                <!-- /.navbar-collapse -->
            </div>
        <!-- /.container -->
        </nav>

        <!-- About Section -->
        <div class="container">
            <div class="main-body">
                <div class="row">
                  <div class="profile">
                    <img class="portrait" src="../assets/img/avatar-qiu-ny.jpg">
                  </div>

                  <div class="intro">
                    <p>Helei Qiu is a Ph.D. student of <a href="http://sai.xidian.edu.cn" target="_blank">College of Artificial Intelligence, Xidian University</a>
                    and a member of <a href="http://see.xidian.edu.cn/iiip" target="_blank">Key Laboratory of Intelligent Perception and Image Understanding of Ministry of Education</a> at Xidian University. <br>
                    His research interest includes Computer Vision and Machine Learning, with a focus on Object Detection and Tracking, Image Understanding, Pose Estimation and Action Analysis.</p>
                  </div>
                </div>

                <div class="sec">
                  {{ content }}
                </div>
            </div>
        </div>
     
        <!-- jQuery Version 1.11.0 -->
        <script src="../assets/js/jquery.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="../assets/js/bootstrap.min.js"></script>
        <!-- Plugin JavaScript -->
        <script src="../assets/js/jquery.easing.min.js"></script>
        <!-- Custom Theme JavaScript -->
        <script src="../assets/js/grayscale.js"></script>
         
    </body>
</html>